<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">

  <title>OpenWS Angular Examples</title>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>

  <style type="text/css">
    body{font-family: arial;width: 70%;margin: auto;}
    input[type="text"], input[type="password"]{padding: 4px;}
    input[type="button"]{padding: 6px 10px;border: none;background-color: #2c99fb;cursor: pointer;color: white;}
    #msg{color: white;background-color: #2b99fa;padding: 8px;}
  </style>

  <script type="text/javascript">

    var key = "", // Your API Key - Example: "e4c1feb27cb969b7beba54c004cea8eb"
        collection = "user", // Your collection
        url = "https://openws.herokuapp.com/"; // OpenWS URL

    /* Angular */

    var myApp = angular.module('myApp', []);

    myApp.controller('myController', function ($scope, $http) {

      $scope.master = {};

      $scope.save = function(){

        this.msg = "Loading...";

        var responsePromise = $http.post(url + collection + "?apiKey=" + key, this.user);

        responsePromise.success(function(data, status, headers, config) {
          $scope.user = angular.copy($scope.master);
          $scope.msg = "Done!";
          $scope.link = true;
        });

      }

    });
  </script>

</head>

<body ng-controller="myController" ng-init="msg = (':)')">

  <div id="msg">{{ msg }}</div>

  <h1>OpenWS Angular Create</h1>

  <form name="myForm" ng-submit="myForm.$valid && save();" novalidate>
    <h3>Create a user</h3>
    <input ng-model="user.name" type="text" placeholder="Username" required />
    <input ng-model="user.password" type="password" placeholder="Password" required />
    <input type="submit" value="Save" />
  </form>

  <br />

  <p>{{ user.name }}</p>

  <p ng-show="link">Now you can see your user clicking <a href="list.html">here</a></p>

</body>

</html>
